<div class="iwSearchAdresWidget k-widget iw-search-widget">
    <div class="iw-search-row">
        <label class="iw-search-row-small-label">Nie ma adresu: </label>
        <input class="iwSearchAdresWidgetNieMa" type="checkbox"/>
    </div>
    <div class="iw-search-row">
        <label class="iw-search-row-small-label">Miejscowość</label>
        <input class="iwSearchAdresWidgetMiejsc" style="width: 195px;"/>
    </div>
    <div class="iw-search-row">
        <label class="iw-search-row-small-label">Ulica</label>
        <input class="iwSearchAdresWidgetUlica" style="width: 195px;"/>
    </div>
    <div class="iw-search-row">
        <label class="iw-search-row-small-label">Numer</label>
        <input class="iwSearchAdresWidgetNumerBud k-textbox" style='width: 45px'/>
        <span>/</span>
        <input class="iwSearchAdresWidgetNumerLok k-textbox" style='width: 40px'/>
        <label>Kod</label>
        <input class="iwSearchAdresWidgetKod" data-role="maskedtextbox" data-mask="00-000" style="width: 65px"/>
    </div>
</div>
